option_settings:
  # Instance Configuration
  aws:ec2:instances:
    InstanceTypes: t4g.micro

  # Auto Scaling Configuration
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: default

  # Environment Configuration
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role

  # Proxy Configuration
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx